<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EngineCell.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="default" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=EngineCell;User ID=EngineCell;Password=password;AttachDbFilename=E:\SQL Databases\EngineCell.mdf" providerName="System.Data.SqlClient" />-->
    <add name="default" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=EngineCell;User ID=EngineCell;Password=password;AttachDbFilename=D:\SQL Databases\EngineCell.mdf" providerName="System.Data.SqlClient" />
    <!--<add name="default" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=EngineCell;User ID=EngineCell;Password=password;AttachDbFilename=C:\Sql Databases\EngineCell.mdf" providerName="System.Data.SqlClient" />-->
    <!--<add name="default" connectionString="Server=192.168.1.185;Database=RocketRod;User ID=RocketRod;Password=password;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="OptoIpAddress" value="98.109.58.113" />
    <!--<add key="OptoIpAddress" value="192.168.1.202" />-->
    <add key="OptoMmpPort" value="2001" />
    <add key="CellId" value="1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OxyPlot" publicKeyToken="638079a8f0bd61e9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.1.503.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EngineCell.Application.Properties.Settings>
      <setting name="IsLogVisible" serializeAs="String">
        <value>True</value>
      </setting>
    </EngineCell.Application.Properties.Settings>
  </userSettings>
</configuration>