CREATE DATABASE [Robot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Robot', FILENAME = N'C:\Users\msl\Robot.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Robot_log', FILENAME = N'C:\Users\msl\Robot_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Robot]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Robot] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
