CREATE DATABASE [EngineCell]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EngineCell', FILENAME = N'E:\SQL Databases\EngineCell.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EngineCell_log', FILENAME = N'E:\SQL Databases\EngineCell_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [EngineCell]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [EngineCell] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
